.header{
	position:absolute;
	left:5px;
	right:5px;
	top:5px;
	height:80px;
	background:lightgray;
}

.headerTitle{
	position:absolute;
	left: 10px;
	top: 20px;
	font-size:20;
	font-family:"Times New Roman", Times, serif;
	font-style:italic;
}

.currentItem{
	position:absolute;
	left: 210px;
	top: 25px;
	font-family:"Times New Roman", Times, serif;
	font-style:italic;
}

.urlsBlock{
	position:absolute;
	right:0;
	top:5px;
	width:150;
}

#homeLink{
	position:relative;
	left:5px;
}

#adminLink{
	position:relative;
	left:5px;
}


.sideBar{
	position:absolute;
	left:5px;
	top:90px;
	bottom:5px;
	width:200px;
	background:lightblue;
	padding:10px;
}

.content{
	position:absolute;
	left:210px;
	top:90px;
	bottom:5px;
	right:160px;
	background:lightblue;
	padding:10px;
}

.infoBlock{
	position:absolute;
	top:90px;
	bottom:5px;
	right:5px;
	width:150px;
	background:lightblue;
	padding:10px;
}

#createEquip, #createBrand{
	float:right;
}



